.tableContainer {
  width: 1024px;
  margin: 40px auto;
  padding: 20px 15px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #2d353c;
  color: white;

  .searchAndVisibility {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .table {
    min-height: 300px;
    margin: 20px 0;
  }

  .pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;

    .rowsPerPage {
      display: flex;
    }

    .dataInfo {
      font-size: 14px;
    }

    .arrows {
      svg {
        cursor: pointer;

        &:first-child {
          margin-right: 30px;
        }
      }
    }
  }
}