.container {
  position: relative;
  width: 40px;

  &::before {
    content: "";
    position: absolute;
    right: 5px;
    top: 4px;
    z-index: 5;
    width: 5px;
    height: 5px;
    border: 2px solid white;
    color: white;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    transform: rotate(-45deg);
    cursor: pointer;
  }

  input {
    border: none;
    outline: none;
    width: 40px;
    padding: 3px 7px;
    border-radius: 5px;
    background: transparent;
    color: white;
    cursor: pointer;
  }

  .options {
    position: absolute;
    bottom: 100%;
    width: 50px;
    border-radius: 4px;
    padding: 8px 0;
    background: white;
    display: flex;
    flex-direction: column;
    visibility: hidden;
    opacity: 0;
    transform: scale(0);

    &.open {
      transition: all .2s ease;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
    }

    .optionItem {
      width: 100%;
      text-align: center;
      padding: 5px 0;
      color: black;
      cursor: pointer;

      &:hover {
        background: #dddddd;
      }
    }
  }
}