.container {
  width: 1024px;
  margin: 40px 0;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #2d353c;
  color: white;

  .top {
    
  }

  .body {
    min-height: 300px;
  }

  .bottom {

  }
  
  .top,
  .bottom {
    padding: 15px 20px;
    background: rgba(255, 255, 255, .1);
  }
}